body {
    margin: 0;
    min-width: 250px;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Include the padding and border in an element's total width and height */
  * {
    box-sizing: border-box;
  }

  h2{
    font-size: 2rem;
  }

  .container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
  }
  
  /* Remove margins and padding from the list */
  ol {
    margin: 0;
    padding-left: 2rem;
  }
  
  /* Style the list items */
  ol li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: decimal;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ol li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ol li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  ol li.checked {
    background: rgb(58, 188, 104);
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ol li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    background: #8c00a0;
    padding: 30px 40px;
    color: white;
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .todo__list{
    width: 50%;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    margin-top: 1rem;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }



  .icon{
    display: block;
    width: 160px;
    height: 160px;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    
  }
  .icon img{
    display: block;
    width: 70%;
  }


  .logo{
    display: block;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }